.locationForm {
  display: flex;
  justify-content: start;
}

.hourlyEntry {
  display: flex;
  flex-direction: column;
}

.weatherAppBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherAppContent {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 0 10%;
  max-width: 60%;
  max-height: 100%;
  min-height: 100%;
  /* [h-offset] [v-offset] [blur] [spread] [color] */
  box-shadow: 
    10px 0 8px -4px rgba(0, 0, 0, 0.5),  /* Right shadow */
    -10px 0 8px -4px rgba(0, 0, 0, 0.5); /* Left shadow */
}

.caption {
  font-style: italic;
  color: #555; /* Optional: lighter color */
}

.weatherImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
}

.weatherDashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row
}

.colContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weeklyEntry {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.mainWeather {
  background-color: #39a4cf;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
}

.weeklyForcast{
  display: flex;
  flex-direction:column;
  align-items: 'center';
  width: 100%;
  margin: 10px 0 0 0;
}

.grid-table {
  display: grid;
  grid-template-rows: 1fr; 
  gap: 5px; /* Space between cells */
  margin: 0 0 20px 0
}

.articleBox {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2px;
  padding: 10px 1px 10px 10px;
  border: 1px solid #555;
  border-radius: 30px;
}

.header { font-weight: bold; }