.locationForm {
  display: flex;
  justify-content: start;
}

.hourlyEntry {
  display: flex;
  flex-direction: column;
}

.weatherAppBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherAppContent {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 0 10%;
  max-width: 90vw;
  max-height: 100vh;
  min-height: 100vh;
  /* [h-offset] [v-offset] [blur] [spread] [color] */
  box-shadow: 
    10px 0 8px -4px rgba(0, 0, 0, 0.5),  /* Right shadow */
    -10px 0 8px -4px rgba(0, 0, 0, 0.5); /* Left shadow */
}

.caption {
  font-style: italic;
  color: #555; /* Optional: lighter color */
}

.weatherImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currentWeather {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
}

.weatherDashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row
}

.colContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weeklyEntry {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.mainWeather {
  background-color: #39a4cf;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
}

.weeklyForcast{
  display: flex;
  flex-direction:column;
  align-items: 'center';
  width: 100%;
  margin: 10px 0 0 0;
}